<div class="home" layout="column" layout-align="center center">
  <div class="title">
    Your Details
  </div>
  <div class="register">
      <md-input-container class="md-block">
        <label>First name</label>
        <input ng-model="$ctrl.firstName">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Last name</label>
        <input ng-model="$ctrl.lastName">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email address</label>
        <input type="email" ng-model="$ctrl.email">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Role in a company</label>
        <input ng-model="$ctrl.role">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input type="password" ng-model="$ctrl.password">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Confirm Password</label>
        <input type="password" ng-model="$ctrl.confirm">
      </md-input-container>
      <md-button class="md-raised" aria-label="Sign up" ng-click="$ctrl.register()">
        Sign up
      </md-button>
      <div class="pointer" ui-sref="app">
        Back to login
      </div>
  </div>

</div>
