<header class="header">
  <md-content>

    <md-toolbar class="menu">
      <div class="md-toolbar-tools">
        <img class="header-logo" src="../../../../assets/images/bioxplorLogo.png" ng-click="$ctrl.goBack()">

        <span flex></span>
        <div ng-if="$ctrl.authService.user">
          <h3 class="right-item" ng-if="$ctrl.$state.current.url.indexOf('gene') > -1">
            {{$ctrl.authService.user.email}}
          </h3>
          <div ng-if="$ctrl.$state.current.url.indexOf('gene') == -1">
            <md-button  class="boxes green">34</md-button >
            <md-button  class="boxes red">56</md-button >
            <md-button  class="boxes blue">23</md-button >
            <md-button class="button" aria-label="My Account">
              My Account
            </md-button>
            <md-button class="boxes search">
              <img src="../../../../assets/icons/search.svg" style="width: 20px;" />
            </md-button >
          </div>
        </div>

      </div>
    </md-toolbar>
  </md-content>
</header>
