<header class="header">
  <md-content>

    <md-toolbar class="menu">
      <div class="md-toolbar-tools">
        <img class="header-logo" src="../../../../assets/images/bioxplorLogo.png" ng-click="$ctrl.goBack()">

        <span flex></span>
        <div ng-if="$ctrl.authService.user">
          <md-button class="md-raised" aria-label="My Account" ng-if="$ctrl.$state.current.url.indexOf('gene') == -1">
            My Account
          </md-button>
          <h3 class="rightItem" ng-if="$ctrl.$state.current.url.indexOf('gene') > -1">
            {{$ctrl.authService.user.email}}
          </h3>
        </div>

      </div>
    </md-toolbar>
  </md-content>
</header>
