<div class="home" layout="column" layout-align="center center">
  <md-card layout-align="center center" class="card indirect-card">
    <md-card-content class="indirect-card">
      <div class="title">Indirect Gene Search</div>
      <div layout="row" layout-align="space-around" class="add-more">
        <div layout-align="center center">
          <div class="sub-title">Target</div>
          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedTarget1">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="target in $ctrl.target1" ng-value="target.name">
                {{target.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-button class="md-raised" md-ink-ripple="{{$ctrl.buttonRipple}}">
            Add more
          </md-button>
        </div>
        <div layout-align="center center">
          <div class="sub-title">Bridge</div>
          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedBridge1">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="bridge in $ctrl.bridge1" ng-value="bridge.name">
                {{bridge.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedBridge2">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="bridge in $ctrl.bridge2" ng-value="bridge.name">
                {{bridge.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedBridge3">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="bridge in $ctrl.bridge3" ng-value="bridge.name">
                {{bridge.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-button class="md-raised" md-ink-ripple="{{$ctrl.buttonRipple}}">
            Add more
          </md-button>
        </div>
        <div>
          <div class="sub-title">Indication</div>
          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedIndication1">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="indication in $ctrl.indication1" ng-value="indication.name">
                {{indication.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="select">
            <md-select ng-model="$ctrl.selectedIndication2">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="indication in $ctrl.indication2" ng-value="indication.name">
                {{indication.name}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-button class="md-raised" md-ink-ripple="{{$ctrl.buttonRipple}}">
            Add more
          </md-button>
        </div>
      </div>

    </md-card-content>
    <md-card-footer layout="column" layout-align="center center">
      <md-button class="md-raised" md-ink-ripple="{{$ctrl.buttonRipple}}">
        Go
      </md-button>
    </md-card-footer>
  </md-card>
</div>
