body{
  max-width: none;
}

.todoapp{
  margin: 0;
}

.header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background: white;
  z-index: 1000;
  padding-top: 15px;
}

.header .rightItem{
  color: black;
}

.home .card{
  padding: 40px 0;
  margin: 30px;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.home .card md-card-content{
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.pointer{
  cursor: pointer;
}

.md-input{
  border: 1px solid rgba(0,0,0,0.12) !important;
  width: 100%
}

.md-select-value{
  border: 1px solid rgba(0,0,0,0.12);
  width: 100%
}

.home .indirect-card{
  width: 70%;
}

.home .indirect-card .md-select-value{
  width: 70%;
  text-align: center;
}

.home .title{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.home .sub-title{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.home .select{
  display: block;
  margin-bottom: 40px;
}

.home .md-block{
  margin: 0;
  padding: 0;
}

.home .gene{
  width: 40%;
}

.home .md-raised{
  width: 200px;
  text-transform: none;
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
  display: block;
}

.home .add-more > div {
  width: 30%;
}

.home .add-more .md-raised{
  width: 50px;
  text-transform: none;
  font-size: 15px;
}

.menu{
  background-color: white !important;
  overflow-y: hidden;
}

.header-logo{
  width: 110px;
  cursor: pointer;
}

.main{
  padding-top: 80px;
  height: 80vh;
}

.home{
  height: 80vh;
}

.center{
  text-align: center;
}

@-webkit-keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
