body{
  max-width: none;
}

.todoapp{
  margin: 0;
}

.header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background: white;
  z-index: 1000;
  padding-top: 15px;
}

.header .right-item{
  color: black;
  display: inline-block;
}

.header .button{
  border: 2px solid #cbcbcb;
  width: 120px;
  height: 40px;
  display: inline-block;
  border-radius: 5px;
  color: dodgerblue;
}

.top{
  float: right;
  transform: rotate(180deg);
}

.boxes{
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  min-height: 0;
  min-width: 0;
  padding: 0;
  line-height: inherit;
}

.md-boxes{
  width: 40px;
  height: 40px;
}

.sm-boxes{
  width: 30px;
  height: 30px;
  display: block;
}

.sml-boxes{
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 15px;
}

.lng-boxes{
  width: 100px;
  height: 22px;
  margin: 0 4px;
  line-height: 21px;
}

.boxes.green{
  border: 2px solid #60F069;
  color: #60F069;
}

.boxes.red{
  border: 2px solid #D80027;
  color: #D80027;
}

.boxes.blue{
  border: 2px solid #5CA7D6;
  color: #5CA7D6;
}

.md-icon{
  width: 20px;
}

.sm-icon{
  width: 16px;
  padding-top: 4px;
}

.header .boxes.search{
  border: 2px solid #cbcbcb;
  padding-top: 5px;
}

.header .boxes.search img{
  width: 17px !important
}

.home .card{
  padding: 40px 0;
  margin: 30px;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
  animation-name: fade-in;
  animation-duration: 0.5s;
  min-width: 500px;
}

.home .card.login input{
  height: 80px;
  font-size: 24px;
  border-width: 2px;
  border-radius: 7px;
  padding-left: 20px;
}

.home .card.login md-card-footer{
  width: 100%;
  padding: 0 30px;
}

.home .card.login .md-raised{
  height: 80px;
  font-size: 24px;
  border-width: 2px;
  border-radius: 7px;
  padding-left: 20px;
  padding-right: 31px;
  width: 100%;
  background-color: #00B9FF;
  color: white;
  display: inline-block;
}

.home .card md-card-content{
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 30px;
}

.home .register input{
  background-color: white;
  padding-left: 10px;
  box-shadow: 0 3px 1px 0px gray;
  height: 40px;
}

.home .register label{
  padding-left: 10px !important;
}

.home .register .md-raised{
  background-color: #00B9FF;
  color: white;
}

.pointer{
  cursor: pointer;
  text-align: center;
}

.md-input{
  border: 1px solid rgba(0,0,0,0.12) !important;
  width: 100%
}

.md-select-value{
  border: 1px solid rgba(0,0,0,0.12);
  width: 100%;
  height: 40px;
}

.home .indirect-card{
  width: 70%;
}

.home .indirect-card .md-select-value{
  width: 70%;
  text-align: center;
}

.home .title{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.home .sub-title{
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.home .select{
  display: block;
  margin-bottom: 40px;
}

.home .md-block{
  margin: 0;
  padding: 0;
}

.home .gene{
  width: 40%;
}

.home .md-raised{
  width: 200px;
  text-transform: none;
  font-size: 18px;
  margin: 20px auto;
  text-align: center;
  display: block;
}

.home .add-more > div {
  width: 30%;
}

.home .add-more .md-raised{
  width: 50px;
  text-transform: none;
  font-size: 15px;
}

.home .progress{
  width: 30%;
  text-align: center;
  font-weight: 400;
}

.home .result{
  width: 100%;
  font-weight: 400;
  background-color: white;
}

.home .result .list{
  overflow: hidden;
  overflow-y: scroll;
}

.home .result .items{
  padding: 10px 10px 5px 10px;
}

.home .result .items p{
  font-size: 20px;
}

.home .result .description{
  background-color: #f1f1f1;
  color: #5CA7D6;
  padding: 3px 20px 10px 40px;
}

.home .result .description *{
  margin: 0;
}

.home .result .description h4{
  margin: 7px 0;
}


.inline{
  display: inline-block;
}

.menu{
  background-color: white !important;
  overflow-y: hidden;
}

.header-logo{
  width: 110px;
  cursor: pointer;
}

.main{
  padding-top: 80px;
  height: 80vh;
}

.home{
  height: 80vh;
  margin-top: 30px;
}

.center{
  text-align: center;
}

.md-mode-determinate, .md-mode-determinate > div {
    height: 17px !important;
}

@-webkit-keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
